:root {
    --couleur-primaire : #2a6442;
}

#classeTitre2 {
    color : #ffff00;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img src="PersonnePC.jpg" width="235" height="215" border="10" style="border-color:#000000;color:#000000";
}