@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --couleur-primaire : #2a6442;
}

#classeTitre2 {
    color : #ffff00;
    font-family: 'Pacifico', cursive;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.percent {
    font-size: 200%;
}