@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --couleur-primaire : #2a6442;
}

#classeTitre2 {
    color : #ffff00;
    font-family: 'Pacifico', cursive;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    font-size: 150%;
    visibility: hidden;
}
[data-title] {
    position: relative;
}